.button
  padding: 11px 24px
  border: none
  border-radius: 2px
  text-transform: uppercase
  font-size: 0.93rem
  // border: 1px solid red
  &:hover
    cursor: pointer
    background-color: $primary_btn
    transition: background-color 0.3s
  &--primary
    width: 207px
    height: 51px
    background-color: $primary
    color: $light
    box-shadow:  0px 5px 15px rgba($primary, 0.2)
    transition: box-shadow 0.3s
    &:hover
      box-shadow: none
  &--outline
    width: 207px
    height: 51px
    border: 1px solid #FFFFFF
    background-color: transparent  
    color: $light
  &__text--primary
    margin-right: 2rem
  // &__text--outline
.label
  font-size: 1.07rem
  &--light
    color: rgba($light ,0.5)
  &--dark
    color: $dark
.input
  background-color: transparent
  border: none
  border-bottom: 1px solid rgba(54, 54, 54, 0.3)
  font-size: 1.285rem
  color: $light
  padding: 0.5rem 0
  &--light
    &::placeholder
      color: $light
  &--dark
    color: $dark
.policy
  &__checkbox
    opacity: 0 
    visibility: hidden
    &:checked + .policy__label
      &::before
        background: $primary url('../img/check.svg') no-repeat center / 0.8rem
  &__label
    display: flex
    align-items: center
    &::before
      content: ''
      width: 18px
      height: 18px
      border: 1px solid $primary
      border-radius: 1px
      cursor: pointer
      margin-right: 0.64rem
    &--center
      justify-content: center
// em
//   &.invalid
//     position: absolute
//     left: 0
//     top: 0      

.invalid
    color: $tomato
input
  &.invalid
    border-bottom: 1px solid $tomato
.invalid
  font-weight: 600
//  !!!!!!!!!!!!!КРИК СИСТЕМЫ ОБ ОШИБКАХ!!!!!!!!
      // &::after
    //   content: 'bug: не видно новый checkbox'
    //   width: 90px
    //   height: 2px
    //   background-color: $primary
    //   color: red
    //   margin-left: 2rem
      // border: 1px solid
.buttonup
  background: $primary url(../img/up.svg) no-repeat center / cover
  width: 50px
  height: 50px
  color: #fff			
  padding: 15px
  margin: 20px
  margin-top: 48rem
  // display: inline-block
  // background-color: $primary
  // // background-color: red
  // width: 50px
  // height: 50px
  // text-align: center
  border-radius: 5px
  // margin: 30px
  // position: fixed
  // bottom: 30px
  // right: 10px
  transition: background-color .3s
  // z-index: 1000
  &:hover 
    cursor: pointer
  //   background-color: #080808
  // &:active 
  //   background-color: #555
  &::after 
    // content: "\f077"
    // margin-bottom: 1px
    // font-family: FontAwesome
    // font-weight: normal
    // font-style: normal
    // font-size: 1.5em
    // line-height: 50px
    // color: #fff




