@media screen and ( max-width: 1200px )
  .logo
    display: none


@media screen and ( mах-width: 570px ) // медиа не работает
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 5rem
  .card
    &__text
      margin-left: 0   
