.action
  background: $dark url('../img/footer-bg.jpg') no-repeat center / cover
  padding-top: 3rem
  &__selection
    display: flex
    justify-content: space-between
  &__wrap
    // background-color: $black
    max-width: 73.07rem
    margin: auto
    // margin-top: -20rem
    // margin-bottom: 3.714rem
    padding: 25.5rem
    border: 2px solid $primary
    background: $dark url('../img/action.jpg') no-repeat center / cover
  &__economy
    display: flex
    margin-top: 2rem
    &__image
      border: 1px solid #e40606
    &__text
      margin-top: 2.7rem
      border: 1px solid #e40606
      color: $primary