// *{box-sizing:border-box}

@keyframes loader {
  0% {transform:rotate(-45deg)}
  50%{transform:rotate(-135deg)}
  100%{transform:rotate(-225deg)}}
@keyframes span-1 {
  0% {transform:translate(0);border-radius: 20px;}
  50%{transform:translate(-50px, 0);border-color:#EE4D68;border-radius: 20px;}
  100%{transform:translate(0);border-radius: 20px;}}
@keyframes span-2 {
  0%{transform:translate(0);border-radius: 20px;}
  50%{transform:translate(50px, 0);border-color:#875678;border-radius: 20px;}
  100%{transform:translate(0);border-radius: 20px;}}
@keyframes span-3 {
  0%{transform:translate(0);border-radius: 20px;}
  50%{transform:translate(0, -50px);border-color:#FF9900;border-radius: 20px}
  100%{transform:translate(0);border-radius: 20px;}}
@keyframes span-4 {
  0%{transform:translate(0);border-radius: 20px;}
  50%{transform:translate(0, 50px);border-color:#00E4F6;border-radius: 20px;}
  100%{transform:translate(0);border-radius: 20px;}}
.loader {
  width: 50px;
  height: 50px;
  position: relative;
  animation: loader 2s infinite ease-in-out;
}